.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  min-height: 450px;

  margin-top: 50px;
  margin-bottom: 100px;

  width: 100%;

  gap: 15px; /* space between bars */
}

.array-bar {
  width: 35px;
  background-color: cyan;
}